.col-xs-12.main
  .container.no-padding
    .col-xs-12.no-padding-right
      %h2.sub-header= title
    - @movies.each do |movie|
      - if movie.poster_path.present?
        .col-xs-6.col-md-3.item
          %a{href: "/series/#{movie.id}"}
            %img{src: "http://image.tmdb.org/t/p/w396/#{movie.poster_path}", class: 'fit pull-over'}
            %img{src: "/assets/placeholder.png", class: 'fit no-opacity'}
      - else
        .col-xs-6.col-md-3.item
          %a{href: "/series/#{movie.id}"}
            %img{src: "http://placehold.it/396x594?text=#{begin movie.title rescue movie.name end}", class: 'fit pull-over'}
            %img{src: "/assets/placeholder.png", class: 'fit no-opacity'}

:javascript
  $(window).scroll(function() {
    if($(window).scrollTop() + $(window).height() == $(document).height()) {
      if(window.pagination === undefined){
        window.pagination = 2
      }else{
        window.pagination = window.pagination += 1
      }

      $.ajax({
        url: window.location.href + "/more?page=" + window.pagination,
        type: "GET",
        success: function(response){
          $('.main .container').append(response);
        }
      })
    }
  });
