.col-xs-12.main
  .container
    %h2.sub-header= @movie.name
    .col-lg-3.col-xs-6.series
      - if @movie.poster_path.present?
        %img{src: "http://image.tmdb.org/t/p/w396/#{@movie.poster_path}", class: 'fit'}
      - else
        %img{src: "http://placehold.it/396x594?text=#{@movie.title}", class: 'fit'}
      - @movie.seasons.each_with_index do |season, index|
        %a{href: "/series/#{@movie.id}/seasons/#{season.id}", class: 'btn btn-fit btn-default btn-lg toggle-torrents'}= "Season #{index + 1}"
