.col-xs-12.main
  .container.no-padding
    %h2.sub-header
      = @movie.name
      = "-"
      = @season.name
    .col-sm-6.col-xs-12.series
      - if @movie.poster_path.present?
        %img{src: "http://image.tmdb.org/t/p/w396/#{@movie.poster_path}", class: 'fit fullfit'}
      - else
        %img{src: "http://placehold.it/396x594?text=#{@movie.title}", class: 'fit'}
    .col-sm-6.col-xs-12
      %h2= "#{@query} -> #{@episode.name}"
      %p= @episode.overview
      - if @torrents
        %form{action: "/movies/#{@movie.id}/download", id: "torrent-value"}
          %select{class: 'form-control'}
            - @torrents.each do |torrent|
              %option{value: "http:#{torrent[:download].split('?title')[0]}"}
                = "[#{torrent[:seeds]}/#{torrent[:leeches]}] " + torrent[:title]
        %a{href: '#', class: 'btn btn-fit btn-success btn-lg select-torrent'} Watch
      - else
        %form{action: "#", id: 'torrent-value'}
          %select{class: 'form-control'}
            %option{value: "#"}
              No torrents available
      %a{href: "/series/#{@movie.id}/seasons/#{params[:season_id]}/episodes/#{params[:id].to_i + 1}", class: 'btn btn-fit btn-primary btn-lg'}= "Next episode"
