.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  %h2.sub-header= @movie.title
  .col-lg-3.col-xs-6.item
    %img{src: "http://image.tmdb.org/t/p/w396/#{@movie.poster_path}", class: 'fit'}
    %a{href: '#', class: 'btn btn-fit btn-primary btn-lg toggle-torrents'}Download

  .col-lg-9.col-xs-6.item.no-padding
    #slider.col-xs-12.no-padding
      #carousel-bounding-box
        #myCarousel.carousel.slide
          .carousel-inner
            - @trailers.each_with_index do |trailer, index|
              .item.no-margin{class: "#{'active' if index == 0}"}
                %iframe{:allowfullscreen => "true", :frameborder => "0", :height => "550", :src => "//www.youtube.com/embed/#{trailer.source}", :width => "100%"}
          %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
          %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}

    .torrent_list.col-xs-12{style: 'display: none;'}
      %table.table.torrent_table
        %tbody
          - @torrents.each do |torrent|
            %tr
              %td= torrent.name
              %td= "#{torrent.seeds} / #{torrent.leeches}"
              %td= "#{(torrent.size / 1048567).round(1)} MB"
              %td
                %a{href: "/movie/#{@movie.id}/download?torrent_uri=#{torrent.link}", class: 'btn btn-success'} Download source

  :javascript
    $(document).ready(function(){
      height = $('img.fit').height();
      $('iframe').attr('height', height);
    });
