.col-xs-12.main.no-padding
  .container
    %h2.sub-header
      = @movie.title
    .col-sm-3.col-xs-12.no-padding
      - if @movie.poster_path.present?
        %img{src: "http://image.tmdb.org/t/p/w396/#{@movie.poster_path}", class: 'fit fullfit'}
      - else
        %img{src: "http://placehold.it/396x594?text=#{@movie.title}", class: 'fit'}

      - if @torrents
        %form{action: "/movies/#{@movie.id}/download", id: "torrent-value"}
          %select{class: 'form-control'}
            - @torrents.each do |torrent|
              %option{value: "http:#{torrent[:download]}"}
                = "[#{torrent[:seeds]}/#{torrent[:leeches]}] " + torrent[:title]

        %a{href: '#', class: 'btn btn-fit btn-success btn-lg select-torrent'} Watch
        - @trailers.each_with_index do |trailer, index|
          %a{href: "//www.youtube.com/watch/#{trailer.source}", class: 'btn btn-fit btn-primary btn-lg'}= "Watch trailer #{index + 1}"
      - else
        %form{action: "#", id: 'torrent-value'}
          %select{class: 'form-control'}
            %option{value: "#"}
              No torrents available

    .col-xs-12.col-sm-9
      %h2.no-padding Overview
      %p= @movie.overview
      %h2.no-padding Tag line
      %p= @movie.tagline
      %h2.no-padding Runtime
      %p
        = @movie.runtime
        Minutes


